-----------------------------
# <div style="text-align:center;">TP Spark 2 : notes perso</div>
-------------------------------

# <div style="text-align:center;">Début du projet et pre-processings</div>

## Chargement des données

L’ensemble des ressources nécessaires pour les prochaines questions se trouvent dans la documentation de Spark.

Chargez le fichier ***train_clean.csv*** dans un *DataFrame*. La première ligne du fichier donne le nom de chaque colonne (aka le header), on veut que cette ligne soit utilisée pour nommer les colonnes du dataFrame.

In [1]:
import org.apache.spark.sql.DataFrame

val df: DataFrame = spark
  .read
  .option("header", true) // utilise la première ligne du (des) fichier(s) comme header
  .option("inferSchema", "true") // pour inférer le type de chaque colonne (Int, String, etc.)
  .csv("/home/p5hngk/Downloads/GitHub/INF_729---Introduction_au_framework_Hadoop/cours-spark-telecom-master/data/train_clean.csv")

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.1.22:4040
SparkContext available as 'sc' (version = 2.4.4, master = local[*], app id = local-1573675034240)
SparkSession available as 'spark'

import org.apache.spark.sql.DataFrame
df: org.apache.spark.sql.DataFrame = [project_id: string, name: string ... 12 more fields]

Affichez le nombre de lignes et le nombre de colonnes dans le DataFrame :

In [2]:
println(s"Nombre de lignes : ${df.count}")
println(s"Nombre de colonnes : ${df.columns.length}")

Nombre de lignes : 108129
Nombre de colonnes : 14

Affichez un extrait du DataFrame sous forme de tableau :

In [3]:
df.show()

+--------------+--------------------+--------------------+-------+--------------------+---------------------+-------+--------+----------+----------------+----------+-----------+-------------+------------+
|    project_id|                name|                desc|   goal|            keywords|disable_communication|country|currency|  deadline|state_changed_at|created_at|launched_at|backers_count|final_status|
+--------------+--------------------+--------------------+-------+--------------------+---------------------+-------+--------+----------+----------------+----------+-----------+-------------+------------+
|kkst1451568084| drawing for dollars|I like drawing pi...|   20.0| drawing-for-dollars|                False|     US|     USD|1241333999|      1241334017|1240600507| 1240602723|            3|           1|
|kkst1474482071|Sponsor Dereck Bl...|I  Dereck Blackbu...|  300.0|sponsor-dereck-bl...|                False|     US|     USD|1242429000|      1242432018|1240960224| 1240975592|            2|           0|
| kkst183622197|       Mr. Squiggles|So I saw darkpony...|   30.0|        mr-squiggles|                False|     US|     USD|1243027560|      1243027818|1242163613| 1242164398|            0|           0|
| kkst597742710|Help me write my ...|Do your part to h...|  500.0|help-me-write-my-...|                False|     US|     USD|1243555740|      1243556121|1240963795| 1240966730|           18|           1|
|kkst1913131122|Support casting m...|I m nearing compl...| 2000.0|support-casting-m...|                False|     US|     USD|1243769880|      1243770317|1241177914| 1241180541|            1|           0|
|kkst1085176748|        daily digest|I m a fledgling v...|  700.0|        daily-digest|                False|     US|     USD|1243815600|      1243816219|1241050799| 1241464468|           14|           0|
|kkst1468954715|iGoozex - Free iP...|I am an independe...|  250.0|igoozex-free-ipho...|                False|     US|     USD|1243872000|      1243872028|1241725172| 1241736308|            2|           0|
| kkst194050612|Drive A Faster Ca...|Drive A Faster Ca...| 1000.0|drive-a-faster-ca...|                False|     US|     USD|1244088000|      1244088022|1241460541| 1241470291|           32|           1|
| kkst708883590|"""""""""""""""""...|Opening Friday  J...| 5000.0|lostles-at-tinys-...|                False|     US|     USD|1244264400|      1244264422|1241415164| 1241480901|           44|           0|
| kkst890976740|Choose Your Own A...|This project is f...| 3500.0|choose-your-own-a...|                False|     US|     USD|1244946540|      1244946632|1242268157| 1242273460|           18|           0|
|kkst2053381363|Anatomy of a Cred...|I am an independe...|30000.0|anatomy-of-a-cred...|                False|     US|     USD|1245026160|      1245026721|1241829376| 1242056094|            7|           0|
| kkst918550886|No-bit: An artist...|I want to create ...|  300.0|no-bit-an-artist-...|                False|     US|     USD|1245038400|      1245038428|1242523061| 1242528805|            2|           0|
| kkst934689279|Indie Nerd Board ...|pictured here is ...| 1500.0|indie-nerd-board-...|                False|     US|     USD|1245042600|      1245042919|1242364202| 1242369560|           28|           1|
| kkst191414809|Icons for your iP...|I make cool icons...|  500.0|awesome-icons-for...|                False|     US|     USD|1245092400|      1245092431|1241034764| 1241039475|           98|           1|
| kkst569584443|HAPPY VALLEY: Dex...|I am a profession...|  500.0|help-me-make-my-w...|                False|     US|     USD|1245528660|      1245528920|1242072711| 1242333869|            3|           0|
| kkst485555421|       Project Pedal|Project Pedal is ...| 1000.0|       project-pedal|                False|     US|     USD|1245556740|      1245556829|1242682134| 1242690018|           20|           1|
|kkst1537563608|Frank Magazine Er...|We are throwing a...|  600.0|frank-magazine-er...|                False|     US|     USD|1245882360|      1245882631|1244579167| 1244742156|           12|           0|
|kkst1261713500|  Crossword Puzzles!|I create crosswor...| 1500.0|   crossword-puzzles|                False|     US|     USD|1246354320|      1246355121|1240997554| 1241005923|          163|           1|
| kkst910550425|Run, Blago Run! Show|A 3-day pop-up ar...| 3500.0|  run-blago-run-show|                False|     US|     USD|1246420800|      1246420854|1244299453| 1244388012|           54|           0|
| kkst139451001|It Might Become a...|We are broke film...| 1000.0|it-might-become-a...|                False|     US|     USD|1246420800|      1246420840|1243272026| 1243616180|           23|           1|
+--------------+--------------------+--------------------+-------+--------------------+---------------------+-------+--------+----------+----------------+----------+-----------+-------------+------------+
only showing top 20 rows

Affichez le schéma du DataFrame, à savoir le nom de chaque colonne avec son type :

In [4]:
df.printSchema()

root
 |-- project_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- desc: string (nullable = true)
 |-- goal: string (nullable = true)
 |-- keywords: string (nullable = true)
 |-- disable_communication: string (nullable = true)
 |-- country: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- deadline: string (nullable = true)
 |-- state_changed_at: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- launched_at: string (nullable = true)
 |-- backers_count: integer (nullable = true)
 |-- final_status: integer (nullable = true)

Assignez le type *Int* aux colonnes qui vous semblent contenir des entiers :

In [5]:
val dfCasted: DataFrame = df
  .withColumn("goal", $"goal".cast("Int"))
  .withColumn("deadline" , $"deadline".cast("Int"))
  .withColumn("state_changed_at", $"state_changed_at".cast("Int"))
  .withColumn("created_at", $"created_at".cast("Int"))
  .withColumn("launched_at", $"launched_at".cast("Int"))
  .withColumn("backers_count", $"backers_count".cast("Int"))
  .withColumn("final_status", $"final_status".cast("Int"))

dfCasted.printSchema()

root
 |-- project_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- desc: string (nullable = true)
 |-- goal: integer (nullable = true)
 |-- keywords: string (nullable = true)
 |-- disable_communication: string (nullable = true)
 |-- country: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- deadline: integer (nullable = true)
 |-- state_changed_at: integer (nullable = true)
 |-- created_at: integer (nullable = true)
 |-- launched_at: integer (nullable = true)
 |-- backers_count: integer (nullable = true)
 |-- final_status: integer (nullable = true)

dfCasted: org.apache.spark.sql.DataFrame = [project_id: string, name: string ... 12 more fields]

## Cleaning

Certaines opérations sur les colonnes sont déjà implémentées dans Spark, mais il est souvent nécessaire de faire appel à des fonctions plus complexes. Dans ce cas on peut créer des *UDFs (User Defined Functions)* qui permettent d’implémenter de nouvelles opérations sur les colonnes. Voir la partie User Defined Functions du fichier `spark_notes.md` pour comprendre comment ça fonctionne.

Affichez une description statistique des colonnes de type *Int* :

In [6]:
dfCasted
  .select("goal", "backers_count", "final_status")
  .describe()
  .show

+-------+-----------------+-------------------+-------------------+
|summary|             goal|      backers_count|       final_status|
+-------+-----------------+-------------------+-------------------+
|  count|           107615|             108128|             108128|
|   mean|36839.03430748502|  6434187.413250962| 1052360.7834973366|
| stddev|974215.3015529736|9.324061726649426E7|3.776049940184165E7|
|    min|                0|                  0|                  0|
|    max|        100000000|         1430423170|         1428977971|
+-------+-----------------+-------------------+-------------------+

Observez les autres colonnes, posez-vous les bonnes questions : quel cleaning faire pour chaque colonne ? Y a-t-il des colonnes inutiles ? Comment traiter les valeurs manquantes ? A-t-on des données dupliquées ? Quelles sont les valeurs de mes colonnes ? Des répartitions intéressantes ? Des "fuites du futur" (vous entendrez souvent le terme *data leakage*) ??? Proposez des cleanings à faire sur les données : des `groupBy-count`, des `show`, des `dropDuplicates`, etc.

In [7]:
dfCasted.groupBy("disable_communication").count.orderBy($"count".desc).show(100)

+---------------------+------+
|disable_communication| count|
+---------------------+------+
|                False|107293|
|                 True|   322|
|               2500.0|     8|
|               1000.0|     7|
|               5000.0|     6|
|              10000.0|     5|
|               2000.0|     4|
|  The Artist s Pro...|     3|
|               8000.0|     3|
|              25000.0|     3|
|               3000.0|     3|
|               7500.0|     3|
|              15000.0|     3|
|                300.0|     2|
|               4000.0|     2|
|                500.0|     2|
|               5500.0|     2|
|              20000.0|     2|
| launching-chad-ma...|     1|
| whispers-of-never...|     1|
| book-when-life-gi...|     1|
| the-1st-internati...|     1|
| well-done-the-wel...|     1|
| pearl-a-short-unc...|     1|
| no-regrets-a-broo...|     1|
| chuck-lobstermani...|     1|
| help-life-the-uni...|     1|
| wild-river-out-be...|     1|
| precious-waters-r...|     1|
| everythings-for-s...|     1|
| im-the-art-show-d...|     1|
|               4600.0|     1|
| african-wildlife-...|     1|
| the-concepts-rena...|     1|
| block-a-tale-of-m...|     1|
| no-beard-the-pira...|     1|
| booked-illustrate...|     1|
| trio-the-first-su...|     1|
| my-castle-a-bruta...|     1|
| interactive-child...|     1|
| please-support-bl...|     1|
|  Blog and DVD str...|     1|
| a-luv-w2w-enterta...|     1|
| ya-kilt-it-brewin...|     1|
| hello-world-moder...|     1|
| sometimes-sleep-m...|     1|
| fore-gone-minneso...|     1|
| all-is-good-then-...|     1|
| post-box-cricket-...|     1|
| tres-marie-step-o...|     1|
| girly-fantasy-rom...|     1|
| better-than-yeste...|     1|
| going-solo-my-cd-...|     1|
| moments-a-graduat...|     1|
|              12500.0|     1|
| love-over-war-art...|     1|
| let-you-fall-a-de...|     1|
| us-together-send-...|     1|
| the-moo-crew-pets...|     1|
| you-me-and-sicily...|     1|
| the-other-side-on...|     1|
| dont-worry-hell-c...|     1|
| watch-the-trailer...|     1|
|    pants-the-musical|     1|
| put-community-rad...|     1|
| tower-of-gopals-n...|     1|
| snapshots-moments...|     1|
| carpe-diem-hand-p...|     1|
| older-than-oceans...|     1|
| no-you-cant-yes-i...|     1|
| im-you-dickhead-s...|     1|
| blow-me-the-book-...|     1|
| beast-to-the-east...|     1|
| publish-the-agave...|     1|
| once-in-a-while-e...|     1|
| harvest-moon-an-m...|     1|
| fu4-long-live-rea...|     1|
| this-is-national-...|     1|
| death-anxiety-a-n...|     1|
| gravestownfeature...|     1|
| sex-suffering-and...|     1|
| monte-pittmans-ne...|     1|
| chris-irvines-deb...|     1|
| childrens-book-cd...|     1|
| round-a-girl-bull...|     1|
| lord-earth-napalm...|     1|
| yep-its-rocket-sc...|     1|
| sultana-playing-c...|     1|
| wound-a-narrative...|     1|
| motorcycle-we-are...|     1|
| publishing-perfec...|     1|
| help-fund-documen...|     1|
|              80000.0|     1|
| perkiomenville-ch...|     1|
| publishing-a-new-...|     1|
| jason-roberts-deb...|     1|
| operation-sing-in...|     1|
| be-a-part-of-clut...|     1|
| sick-the-music-vi...|     1|
| the-public-intere...|     1|
+---------------------+------+
only showing top 100 rows

In [8]:
dfCasted.groupBy("country").count.orderBy($"count".desc).show(100)

+--------------------+-----+
|             country|count|
+--------------------+-----+
|                  US|91545|
|                  GB| 8743|
|                  CA| 3733|
|                  AU| 1877|
|                  NL|  702|
|               False|  428|
|                  NZ|  354|
|                  SE|  240|
|                  DK|  196|
|                  NO|  113|
|                  IE|  111|
|               999.0|    2|
|steve-sabos-comed...|    1|
|the-nashville-ses...|    1|
|the-swirly-twirli...|    1|
|the-next-golden-a...|    1|
|here-without-art-...|    1|
| rofl-metaphor-56-ep|    1|
|              2500.0|    1|
|fire-fox-in-radic...|    1|
|seven-zero-eight-...|    1|
|up-until-now-reco...|    1|
|smile-its-not-tha...|    1|
|hannuka-story-the...|    1|
|kuya-ko-my-big-br...|    1|
|if-the-world-was-...|    1|
|jack-chaps-dog-de...|    1|
|bring-mary-mcdono...|    1|
|umeos-the-21st-ce...|    1|
|faith-struggle-vi...|    1|
|              5000.0|    1|
|dont-trust-your-s...|    1|
|sketches-in-time-...|    1|
|in-the-grass-a-sh...|    1|
|esp-intuition-and...|    1|
|                null|    1|
|sexy-krazy-raw-an...|    1|
|help-me-fund-my-n...|    1|
|together-alone-th...|    1|
|center-ice-brewin...|    1|
|A compendium of h...|    1|
|meow-meow-maulana...|    1|
|jason-blum-wester...|    1|
|the-123-with-jami...|    1|
|ms-groundhog-ms-b...|    1|
|chadd-thomas-unfi...|    1|
|home-is-where-the...|    1|
|good-job-thanks-a...|    1|
|the-most-loved-a-...|    1|
|Real life stories...|    1|
|the-bowhunter-a-s...|    1|
|              1500.0|    1|
|hard-lick-sports-...|    1|
|all-is-good-then-...|    1|
|                  DE|    1|
|fight-life-boxing...|    1|
|             70000.0|    1|
|st-francis-mohamm...|    1|
|jenny-macdonalds-...|    1|
|noah-clean-prison...|    1|
|intimacy-with-tre...|    1|
|going-home-what-a...|    1|
|luna-the-lone-wol...|    1|
|dont-hang-up-on-m...|    1|
|il-fazzoletto-an-...|    1|
|landslide-erotic-...|    1|
|improve-the-commu...|    1|
|bobby-lynchs-debu...|    1|
|dave-afdahl-cliff...|    1|
|way-up-in-vermont...|    1|
|             20000.0|    1|
|feature-film-some...|    1|
|promote-validated...|    1|
|joe-neary-from-lo...|    1|
|ice-will-reveal-a...|    1|
|undo-undo-undone-...|    1|
|majestys-ep-kings...|    1|
|              1000.0|    1|
|i-speak-fluent-mo...|    1|
|the-voice-of-cour...|    1|
|sexisgoodtv-web-t...|    1|
|elf-tears-war-mag...|    1|
|                True|    1|
|A blend of Melodi...|    1|
|randys-vision-for...|    1|
|my-village-my-lob...|    1|
|we-the-network-it...|    1|
|welcome-to-not-mo...|    1|
|the-foxhole-an-ac...|    1|
|mile-high-a-hilar...|    1|
|nadjah-nicoles-de...|    1|
|no-pride-no-shame...|    1|
|instead-of-sleepi...|    1|
|line-edge-and-for...|    1|
|1st-solo-cd-girls...|    1|
| the-aric-audio-mini|    1|
|derek-v-the-journ...|    1|
+--------------------+-----+

In [9]:
dfCasted.groupBy("currency").count.orderBy($"count".desc).show(100)

+--------------------+-----+
|            currency|count|
+--------------------+-----+
|                 USD|91545|
|                 GBP| 8743|
|                 CAD| 3733|
|                 AUD| 1877|
|                 EUR|  814|
|                  US|  406|
|                 NZD|  354|
|                 SEK|  240|
|                 DKK|  196|
|                 NOK|  113|
|               False|   73|
|                  GB|   13|
|                  AU|    3|
|                  CA|    3|
|                  NL|    2|
|the-artists-proce...|    1|
|             77750.0|    1|
|                null|    1|
|the-artists-proce...|    1|
|the-soloist-first...|    1|
|              1750.0|    1|
|flutter-and-there...|    1|
|final-day-a-drama...|    1|
|the-artists-proce...|    1|
|              6300.0|    1|
|jack-the-radio-lo...|    1|
|                  NO|    1|
|the-arrangement-a...|    1|
|                  NZ|    1|
+--------------------+-----+

In [10]:
dfCasted.select("deadline").dropDuplicates.show()

+----------+
|  deadline|
+----------+
|1254767400|
|1263597060|
|1274115540|
|1274145060|
|1280372820|
|1281730020|
|1281769200|
|1283292000|
|1286168724|
|1287701689|
|1288926510|
|1289102340|
|1290314164|
|1290704714|
|1291537500|
|1292387613|
|1292400000|
|1293256800|
|1297473364|
|1297726200|
+----------+
only showing top 20 rows

In [11]:
dfCasted.groupBy("state_changed_at").count.orderBy($"count".desc).show(100)

+----------------+-----+
|state_changed_at|count|
+----------------+-----+
|            null|   85|
|      1414814340|   26|
|      1420088342|   20|
|      1425185942|   17|
|      1401483613|   14|
|      1427860741|   13|
|      1414800010|   12|
|      1401595142|   12|
|      1409543941|   11|
|      1414817940|   11|
|      1430452741|   10|
|      1372651141|   10|
|      1409544011|   10|
|      1359694743|   10|
|      1417496340|   10|
|      1343793542|   10|
|      1343879941|    9|
|      1383289142|    9|
|      1425078013|    9|
|      1349074740|    9|
|      1423976340|    9|
|      1346471944|    9|
|      1364788742|    9|
|      1404197943|    9|
|      1383278341|    8|
|      1420091941|    8|
|      1412135943|    8|
|      1412136011|    8|
|      1362113941|    7|
|      1388552340|    7|
|      1378011540|    7|
|      1414900740|    7|
|      1425272344|    7|
|      1409554741|    7|
|      1430452742|    7|
|      1370059144|    7|
|      1404187140|    7|
|      1409543940|    7|
|      1417409942|    7|
|      1412146741|    7|
|      1427871541|    7|
|      1413604740|    7|
|      1430539144|    7|
|      1338523141|    7|
|      1398916740|    7|
|      1296536343|    7|
|      1420088413|    7|
|      1428897544|    6|
|      1418457543|    6|
|      1357027142|    6|
|      1351742342|    6|
|      1350705540|    6|
|      1428030017|    6|
|      1341460740|    6|
|      1406865540|    6|
|      1417845540|    6|
|      1402286340|    6|
|      1420099141|    6|
|      1344830342|    6|
|      1378007942|    6|
|      1425193141|    6|
|      1338533940|    6|
|      1420174743|    6|
|      1427846420|    6|
|      1419224343|    6|
|      1419483615|    6|
|      1418018340|    6|
|      1338523140|    6|
|      1422777542|    6|
|      1410148741|    6|
|      1405483140|    6|
|      1431316742|    6|
|      1418716740|    6|
|      1403495940|    6|
|      1388563140|    6|
|      1406869141|    6|
|      1425160813|    6|
|      1389589140|    6|
|      1418439611|    6|
|      1341125940|    6|
|      1351742343|    6|
|      1426921141|    6|
|      1420002014|    6|
|      1370224834|    6|
|      1415779140|    5|
|      1417406410|    5|
|      1430420412|    5|
|      1342853940|    5|
|      1423987142|    5|
|      1334635143|    5|
|      1404705540|    5|
|      1427828419|    5|
|      1414782012|    5|
|      1401508740|    5|
|      1413849615|    5|
|      1391241540|    5|
|      1401580810|    5|
|      1408949940|    5|
|      1373687940|    5|
|      1412139541|    5|
+----------------+-----+
only showing top 100 rows

In [12]:
dfCasted.groupBy("backers_count").count.orderBy($"count".desc).show(100)

+-------------+-----+
|backers_count|count|
+-------------+-----+
|            0|12773|
|            1| 8788|
|            2| 5954|
|            3| 4202|
|            4| 3174|
|            5| 2665|
|            6| 2242|
|            7| 2000|
|            8| 1693|
|            9| 1453|
|           10| 1413|
|           11| 1258|
|           13| 1221|
|           12| 1191|
|           14| 1174|
|           15| 1084|
|           16| 1043|
|           18| 1041|
|           17| 1005|
|           19|  982|
|           20|  899|
|           21|  873|
|           22|  826|
|           23|  825|
|           24|  813|
|           26|  788|
|           25|  785|
|           27|  742|
|           28|  713|
|           29|  677|
|           34|  668|
|           30|  657|
|           32|  633|
|           33|  610|
|           38|  591|
|           31|  589|
|           35|  580|
|           36|  574|
|           40|  572|
|           37|  562|
|           39|  553|
|           41|  530|
|           42|  501|
|           43|  486|
|           48|  467|
|           46|  461|
|           47|  448|
|           44|  448|
|           45|  441|
|           50|  436|
|           52|  410|
|           54|  407|
|           53|  407|
|           55|  389|
|           51|  388|
|           57|  383|
|           56|  376|
|           49|  369|
|           62|  356|
|           61|  352|
|           58|  342|
|           59|  341|
|           64|  339|
|           60|  336|
|           63|  336|
|           66|  327|
|           68|  326|
|           65|  313|
|           71|  303|
|           72|  303|
|           75|  293|
|           67|  290|
|           76|  283|
|           70|  281|
|           73|  278|
|           69|  277|
|           77|  272|
|           79|  267|
|           74|  267|
|           81|  242|
|           78|  235|
|           87|  230|
|           82|  222|
|           84|  221|
|           86|  211|
|           80|  210|
|           89|  204|
|           92|  200|
|           88|  198|
|           94|  195|
|           83|  194|
|           85|  191|
|           93|  188|
|           98|  186|
|           97|  183|
|           95|  179|
|           90|  177|
|           91|  176|
|          104|  175|
|          103|  170|
+-------------+-----+
only showing top 100 rows

In [13]:
dfCasted.select("goal", "final_status").orderBy($"goal".desc).show(30)

+---------+------------+
|     goal|final_status|
+---------+------------+
|100000000|           0|
|100000000|           0|
|100000000|           0|
|100000000|           0|
|100000000|           0|
|100000000|           0|
|100000000|           0|
| 73000000|           0|
| 70000000|           0|
| 50000000|           0|
| 50000000|           0|
| 50000000|           0|
| 50000000|           0|
| 39023437|           0|
| 30000000|           0|
| 30000000|           0|
| 25000000|           0|
| 25000000|           0|
| 22000000|           0|
| 21474836|           0|
| 21474836|           0|
| 21000000|           0|
| 20000000|           0|
| 20000000|           0|
| 17400000|           0|
| 16250000|           0|
| 16000000|           0|
| 15000000|           0|
| 15000000|           0|
| 11000000|           0|
+---------+------------+
only showing top 30 rows

In [14]:
dfCasted.select("goal", "final_status").show(30)

+-----+------------+
| goal|final_status|
+-----+------------+
|   20|           1|
|  300|           0|
|   30|           0|
|  500|           1|
| 2000|           0|
|  700|           0|
|  250|           0|
| 1000|           1|
| 5000|           0|
| 3500|           0|
|30000|           0|
|  300|           0|
| 1500|           1|
|  500|           1|
|  500|           0|
| 1000|           1|
|  600|           0|
| 1500|           1|
| 3500|           0|
| 1000|           1|
|  365|           1|
|  500|           1|
|  400|           1|
|  100|           1|
|  250|           1|
| 3000|           1|
|  640|           0|
| 3500|           1|
|  300|           1|
| 1000|           1|
+-----+------------+
only showing top 30 rows

In [15]:
dfCasted.groupBy("country", "currency").count.orderBy($"count".desc).show(50)

+--------------------+--------------------+-----+
|             country|            currency|count|
+--------------------+--------------------+-----+
|                  US|                 USD|91545|
|                  GB|                 GBP| 8743|
|                  CA|                 CAD| 3733|
|                  AU|                 AUD| 1877|
|                  NL|                 EUR|  702|
|               False|                  US|  405|
|                  NZ|                 NZD|  354|
|                  SE|                 SEK|  240|
|                  DK|                 DKK|  196|
|                  NO|                 NOK|  113|
|                  IE|                 EUR|  111|
|               False|                  GB|   13|
|               False|                  AU|    3|
|               False|                  CA|    3|
|               False|                  NL|    2|
|noah-clean-prison...|               False|    1|
|hannuka-story-the...|               False|    1|
|together-alone-th...|               False|    1|
|promote-validated...|               False|    1|
|the-foxhole-an-ac...|               False|    1|
|              1500.0|the-arrangement-a...|    1|
|instead-of-sleepi...|               False|    1|
|il-fazzoletto-an-...|               False|    1|
|hard-lick-sports-...|               False|    1|
|my-village-my-lob...|               False|    1|
|umeos-the-21st-ce...|               False|    1|
|             20000.0|the-soloist-first...|    1|
|mile-high-a-hilar...|               False|    1|
|sketches-in-time-...|               False|    1|
|kuya-ko-my-big-br...|               False|    1|
|elf-tears-war-mag...|               False|    1|
|home-is-where-the...|               False|    1|
|               999.0|the-artists-proce...|    1|
|the-bowhunter-a-s...|               False|    1|
|landslide-erotic-...|               False|    1|
|the-swirly-twirli...|               False|    1|
|Real life stories...|             77750.0|    1|
|               False|                  NO|    1|
|the-123-with-jami...|               False|    1|
|                null|                null|    1|
|welcome-to-not-mo...|               False|    1|
|faith-struggle-vi...|               False|    1|
|fight-life-boxing...|               False|    1|
|randys-vision-for...|               False|    1|
|the-next-golden-a...|               False|    1|
|esp-intuition-and...|               False|    1|
|i-speak-fluent-mo...|               False|    1|
|way-up-in-vermont...|               False|    1|
|improve-the-commu...|               False|    1|
|               999.0|the-artists-proce...|    1|
+--------------------+--------------------+-----+
only showing top 50 rows

Enlevez la colonne *disable_communication*. Cette colonne est très largement majoritairement à *false*, il n'y a que 322 *true* (négligeable), le reste est non-identifié :

In [16]:
val df2: DataFrame = dfCasted.drop("disable_communication")

df2: org.apache.spark.sql.DataFrame = [project_id: string, name: string ... 11 more fields]

### Les fuites du futur

Dans les datasets construits a posteriori des évènements, il arrive que des données ne pouvant être connues qu'après la résolution de chaque évènement soient insérées dans le dataset. On a des fuites depuis le futur ! Par exemple, on a ici le nombre de "backers" dans la colonne backers_count. Il s'agit du nombre total de personnes ayant investi dans chaque projet, or ce nombre n'est connu qu'après la fin de la campagne.

Il faut savoir repérer et traiter ces données pour plusieurs raisons :

* pendant l'entraînement (si on ne les a pas enlevées) elles facilitent le travail du modèle puisqu'elles contiennent des informations directement liées à ce qu'on veut prédire. Par exemple, si `backers_count = 0` on est sûr que la campagne a raté.
* au moment d'appliquer notre modèle, les données du futur ne sont pas présentes (puisqu'elles ne sont pas encore connues). On ne peut donc pas les utiliser comme input pour un modèle.


Ici, pour enlever les données du futur on retire les colonnes *backers_count* et *state_changed_at* :

In [17]:
val dfNoFutur: DataFrame = df2.drop("backers_count", "state_changed_at")

dfNoFutur: org.apache.spark.sql.DataFrame = [project_id: string, name: string ... 9 more fields]

### Colonnes currency et country

On pourrait penser que les colonnes *currency* et *country* sont redondantes, auquel cas on pourrait enlever une des colonnes. Mais c'est oublier par exemple que tous les pays de la zone euro ont la même monnaie ! Il faut donc garder les deux colonnes.

Il semble y avoir des inversions entre ces deux colonnes et du nettoyage à faire. On remarque en particulier que lorsque `country = "False"` le country à l'air d'être dans currency. On le voit avec la commande :

In [18]:
df.filter($"country" === "False")
  .groupBy("currency")
  .count
  .orderBy($"count".desc)
  .show(50)

+--------+-----+
|currency|count|
+--------+-----+
|      US|  405|
|      GB|   13|
|      AU|    3|
|      CA|    3|
|      NL|    2|
|      NZ|    1|
|      NO|    1|
+--------+-----+

Créez deux udfs nommées *udf_country* et *udf_currency* telles que :

* ***cleanCountry*** : si `country = "False"` prendre la valeur de currency, sinon si country est une chaîne de caractères de taille autre que 2 remplacer par *null*, et sinon laisser la valeur country actuelle. On veut les résultat dans une nouvelle colonne *country2*.
* ***cleanCurrency*** : si `currency.length != 3` currency prend la valeur `null`, sinon laisser la valeur currency actuelle. On veut les résultats dans une nouvelle colonne `currency2`.

In [19]:
def cleanCountry(country: String, currency: String): String = {
  if (country == "False")
    currency
  else
    country
}

def cleanCurrency(currency: String): String = {
  if (currency != null && currency.length != 3)
    null
  else
    currency
}

val cleanCountryUdf = udf(cleanCountry _)
val cleanCurrencyUdf = udf(cleanCurrency _)

val dfCountry: DataFrame = dfNoFutur
  .withColumn("country2", cleanCountryUdf($"country", $"currency"))
  .withColumn("currency2", cleanCurrencyUdf($"currency"))
  .drop("country", "currency")

cleanCountry: (country: String, currency: String)String
cleanCurrency: (currency: String)String
cleanCountryUdf: org.apache.spark.sql.expressions.UserDefinedFunction = UserDefinedFunction(<function2>,StringType,Some(List(StringType, StringType)))
cleanCurrencyUdf: org.apache.spark.sql.expressions.UserDefinedFunction = UserDefinedFunction(<function1>,StringType,Some(List(StringType)))
dfCountry: org.apache.spark.sql.DataFrame = [project_id: string, name: string ... 9 more fields]

In [20]:
dfNoFutur.show(10)

+--------------+--------------------+--------------------+----+--------------------+-------+--------+----------+----------+-----------+------------+
|    project_id|                name|                desc|goal|            keywords|country|currency|  deadline|created_at|launched_at|final_status|
+--------------+--------------------+--------------------+----+--------------------+-------+--------+----------+----------+-----------+------------+
|kkst1451568084| drawing for dollars|I like drawing pi...|  20| drawing-for-dollars|     US|     USD|1241333999|1240600507| 1240602723|           1|
|kkst1474482071|Sponsor Dereck Bl...|I  Dereck Blackbu...| 300|sponsor-dereck-bl...|     US|     USD|1242429000|1240960224| 1240975592|           0|
| kkst183622197|       Mr. Squiggles|So I saw darkpony...|  30|        mr-squiggles|     US|     USD|1243027560|1242163613| 1242164398|           0|
| kkst597742710|Help me write my ...|Do your part to h...| 500|help-me-write-my-...|     US|     USD|1243555740|1240963795| 1240966730|           1|
|kkst1913131122|Support casting m...|I m nearing compl...|2000|support-casting-m...|     US|     USD|1243769880|1241177914| 1241180541|           0|
|kkst1085176748|        daily digest|I m a fledgling v...| 700|        daily-digest|     US|     USD|1243815600|1241050799| 1241464468|           0|
|kkst1468954715|iGoozex - Free iP...|I am an independe...| 250|igoozex-free-ipho...|     US|     USD|1243872000|1241725172| 1241736308|           0|
| kkst194050612|Drive A Faster Ca...|Drive A Faster Ca...|1000|drive-a-faster-ca...|     US|     USD|1244088000|1241460541| 1241470291|           1|
| kkst708883590|"""""""""""""""""...|Opening Friday  J...|5000|lostles-at-tinys-...|     US|     USD|1244264400|1241415164| 1241480901|           0|
| kkst890976740|Choose Your Own A...|This project is f...|3500|choose-your-own-a...|     US|     USD|1244946540|1242268157| 1242273460|           0|
+--------------+--------------------+--------------------+----+--------------------+-------+--------+----------+----------+-----------+------------+
only showing top 10 rows

On peut également faire ce qu'on vient de faire en utilisant `sql.functions.when` :              
***Attention à remplacer les % par des \$***
```scala
dfNoFutur
  .withColumn("country2", when(%"country" === "False", %"currency").otherwise(%"country"))
  .withColumn("currency2", when(%"country".isNotNull && length(%"currency") =!= 3, null).otherwise(%"currency"))
  .drop("country", "currency")
```

On a montré ici l'utilisation d'udfs, mais de façon générale toujours privilégier les fonctions déjà codées dans Spark car elles sont optimisées.

Pour une classification, l’équilibrage entre les différentes classes cibles dans les données d’entraînement doit être contrôlé (et éventuellement corrigé). Affichez le nombre d’éléments de chaque classe (colonne ***final_status***).

In [21]:
dfCountry.groupBy("final_status").count.orderBy($"count".desc).show(30)

+------------+-----+
|final_status|count|
+------------+-----+
|           0|73266|
|           1|34419|
|           2|   20|
|           3|   19|
|           5|   17|
|          11|   11|
|          14|   10|
|          22|   10|
|          23|   10|
|          18|   10|
|           6|    9|
|           7|    9|
|           9|    8|
|           4|    7|
|          13|    6|
|          21|    6|
|          19|    6|
|           8|    6|
|          49|    5|
|          32|    5|
|          17|    5|
|          31|    4|
|          25|    4|
|          42|    4|
|          52|    4|
|          57|    4|
|          41|    4|
|          28|    4|
|          33|    4|
|          15|    4|
+------------+-----+
only showing top 30 rows

In [22]:
dfCountry.printSchema

root
 |-- project_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- desc: string (nullable = true)
 |-- goal: integer (nullable = true)
 |-- keywords: string (nullable = true)
 |-- deadline: integer (nullable = true)
 |-- created_at: integer (nullable = true)
 |-- launched_at: integer (nullable = true)
 |-- final_status: integer (nullable = true)
 |-- country2: string (nullable = true)
 |-- currency2: string (nullable = true)

L'énoncé du TP nous propose de conservez uniquement les lignes qui nous intéressent pour le modèle, à savoir lorsque `final_status` vaut 0 (Fail) ou 1 (Success). Les autres valeurs n'étant pas définie, on les enlève :

In [23]:
val dfCountry2: DataFrame = dfCountry
  .filter($"final_status" === 0 || $"final_status" === 1)

dfCountry2.groupBy("final_status").count.orderBy($"count".desc).show()

+------------+-----+
|final_status|count|
+------------+-----+
|           0|73266|
|           1|34419|
+------------+-----+

dfCountry2: org.apache.spark.sql.DataFrame = [project_id: string, name: string ... 9 more fields]

On aurait toutefois pu passer toutes les valeurs différentes de 1 à 0 en considérant que les campagnes qui ne sont pas un Success sont un Fail. Le code serait :
```scala
def cleanFinalStatus(final_status: Int): Int = {
  if (final_status >== 1)
    0
  else
    final_status
}

val cleanFinalStatusUdf = udf(cleanFinalStatus _)

val dfCountry2: DataFrame = dfCountry
  .withColumn("final_status2", cleanFinalStatusUdf($"final_status"))
  .drop("final_status")
```

## Ajouter et manipuler des colonnes

Il est parfois utile d’ajouter des *features* (colonnes dans un DataFrame) pour aider le modèle lors de son apprentissage. Ici nous allons créer de nouvelles features à partir de celles déjà présentes dans les données. Dans certains cas on peut ajouter des features en allant chercher des sources de données supplémentaires.

Les dates ne sont pas directement exploitables par un modèle sous leur forme initiale dans nos données : il s’agit de timestamps Unix (nombre de secondes depuis le 1er janvier 1970 0h00 UTC). Nous allons traiter ces données pour en extraire des informations pour aider les modèles. Nous allons, entre autres, nous servir des fonctions liées aux dates de l'objet [functions](https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.sql.functions$) :          
```scala
def from_unixtime(ut: Column): Column

Converts the number of seconds from unix epoch (1970-01-01 00:00:00 UTC) to a string representing the timestamp of that moment in the current system time zone in the yyyy-MM-dd HH:mm:ss format.
```

```scala
def datediff(end: Column, start: Column): Column

Returns the number of days from start to end.
Only considers the date part of the input. For example:
dateddiff("2018-01-10 00:00:00", "2018-01-09 23:59:59")
// returns 1
```

Nous allons maintenant définir un nouveau *DataFrame* à partir de ***dfCountry2*** sur lequel nous allons effectuer les opérations suivantes :
* Ajoutez une colonne ***days_campaign*** qui représente la durée de la campagne en jours (le nombre de jours entre *launched_at* et *deadline*).
* Ajoutez une colonne ***hours_prepa*** qui représente le nombre d’heures de préparation de la campagne entre *created_at* et *launched_at*. On pourra arrondir le résultat à 3 chiffres après la virgule.

In [24]:
val dfCountry3: DataFrame = dfCountry2
    .withColumn("days_campaign", datediff(from_unixtime($"deadline") , from_unixtime($"launched_at")))
    .withColumn("hours_prepa", ((($"launched_at" - $"created_at")/3.6).cast("Int")/1000))

dfCountry3.select("project_id","days_campaign", "hours_prepa", "deadline", "launched_at", "created_at").orderBy($"hours_prepa".asc).show(10)

+--------------+-------------+-----------+--------+-----------+----------+
|    project_id|days_campaign|hours_prepa|deadline|launched_at|created_at|
+--------------+-------------+-----------+--------+-----------+----------+
|kkst1677718959|         null| -16651.746|    null| 1344222924|1404169212|
|kkst1985544974|         null|  -8018.505|    null| 1381313492|1410180112|
| kkst701794135|         null|   -3927.48|    null| 1357429366|1371568297|
|kkst1948088233|         null|  -3405.279|    null| 1370638345|1382897352|
| kkst877166482|         null|  -3118.938|    null| 1335298561|1346526738|
|kkst1022204726|         null|   -2447.99|    null| 1408807273|1417620039|
| kkst406922818|         null|  -2161.731|    null| 1271256372|1279038607|
| kkst286648046|         null|  -1871.667|    null| 1416696076|1423434079|
| kkst530098841|         null|  -1656.264|    null| 1335826917|1341789469|
| kkst507710890|         null|  -1648.251|    null| 1310694245|1316627951|
+--------------+-------------+-----------+--------+-----------+----------+
only showing top 10 rows

dfCountry3: org.apache.spark.sql.DataFrame = [project_id: string, name: string ... 11 more fields]

On constate ci-dessus que des dates des projets ont une **date de lancement antérieure à la date de création**, ce qui n'est pas cohérent. Nous allons donc tenter de nettoyer ces données. Pour cela, commençons par comptabiliser le nombre d'heures de prépa négatives :

In [25]:
dfCountry3.groupBy($"hours_prepa" < 0).count.orderBy($"count".desc).show()

+-----------------+------+
|(hours_prepa < 0)| count|
+-----------------+------+
|            false|107615|
|             true|    70|
+-----------------+------+

On constate donc qu'il n'y a que 70 projets dont le les dates de lancement sont antérieures aux dates de création. Aussi, nous avons deux possibilités pour taiter ces cas :
* Supprimer les lignes de ces projets ;
* Fixer la date de création égale à celle de lancement ;

Compte tenu du fait qu'il n'y a que 70 valeurs concernées, on peut choisir des les négliger et donc de supprimer les lignes correspondantes. Cependant, pour des raisons pédagogiques, nous allons choisir la deuxième option.

In [26]:
def cleanHoursPrepa(created_at: Int, launched_at: Int, hours_prepa: Int): Int = {
  if (hours_prepa < 0)
    launched_at
  else
    created_at
}

val cleanHoursPrepaUdf = udf(cleanHoursPrepa _)

val dfCountry4: DataFrame = dfCountry3
  .withColumn("created_at2", cleanHoursPrepaUdf($"created_at", $"launched_at", $"hours_prepa"))
  .withColumn("hours_prepa", ((($"launched_at" - $"created_at2")/3.6).cast("Int")/1000))
  .drop("created_at")


dfCountry4.groupBy($"hours_prepa" < 0).count.orderBy($"count".desc).show()

+-----------------+------+
|(hours_prepa < 0)| count|
+-----------------+------+
|            false|107685|
+-----------------+------+

cleanHoursPrepa: (created_at: Int, launched_at: Int, hours_prepa: Int)Int
cleanHoursPrepaUdf: org.apache.spark.sql.expressions.UserDefinedFunction = UserDefinedFunction(<function3>,IntegerType,Some(List(IntegerType, IntegerType, IntegerType)))
dfCountry4: org.apache.spark.sql.DataFrame = [project_id: string, name: string ... 11 more fields]

A titre de vérification avec le projet ayant l'id *kkst1677718959* qui était précédemment dans le cas que nous souhaitions traiter :

In [27]:
dfCountry4.filter($"project_id" === "kkst1677718959").show()

+--------------+--------------------+-----------+----+--------+--------+-----------+------------+--------+---------+-------------+-----------+-----------+
|    project_id|                name|       desc|goal|keywords|deadline|launched_at|final_status|country2|currency2|days_campaign|hours_prepa|created_at2|
+--------------+--------------------+-----------+----+--------+--------+-----------+------------+--------+---------+-------------+-----------+-----------+
|kkst1677718959|"Chris Bartick's ...| NY Harbor"|null|  1500.0|    null| 1344222924|           1|      US|     null|         null|        0.0| 1344222924|
+--------------+--------------------+-----------+----+--------+--------+-----------+------------+--------+---------+-------------+-----------+-----------+

* Supprimons les colonnes ***launched_at***, ***created_at2***, et ***deadline*** qui ne sont pas exploitables pour un modèle.

In [28]:
val dfCountry5: DataFrame = dfCountry4
 .drop("launched_at", "created_at2", "deadline")

dfCountry5.show(3)

+--------------+--------------------+--------------------+----+--------------------+------------+--------+---------+-------------+-----------+
|    project_id|                name|                desc|goal|            keywords|final_status|country2|currency2|days_campaign|hours_prepa|
+--------------+--------------------+--------------------+----+--------------------+------------+--------+---------+-------------+-----------+
|kkst1451568084| drawing for dollars|I like drawing pi...|  20| drawing-for-dollars|           1|      US|      USD|            9|      0.615|
|kkst1474482071|Sponsor Dereck Bl...|I  Dereck Blackbu...| 300|sponsor-dereck-bl...|           0|      US|      USD|           17|      4.268|
| kkst183622197|       Mr. Squiggles|So I saw darkpony...|  30|        mr-squiggles|           0|      US|      USD|           10|      0.218|
+--------------+--------------------+--------------------+----+--------------------+------------+--------+---------+-------------+-----------+
only showing top 3 rows

dfCountry5: org.apache.spark.sql.DataFrame = [project_id: string, name: string ... 8 more fields]

Pour exploiter les données sous forme de texte, nous allons commencer par réunir toutes les colonnes textuelles en une seule. En faisant cela, on rend indiscernable le texte du nom de la campagne, de sa description et des keywords, ce qui peut avoir des conséquences sur la qualité du modèle. Mais on cherche à construire ici un premier benchmark de modèle, avec une solution simple qui pourra servir de référence pour des modèles plus évolués.


Mettons les colonnes ***name***, ***desc***, et ***keywords*** en minuscules avec la fonction :
```scala
def lower(e: Column): Column

Converts a string column to lower case.
```

In [29]:
val dfCountry6: DataFrame = dfCountry5
 .withColumn("name", lower($"name"))
 .withColumn("desc", lower($"desc"))
 .withColumn("keywords", lower($"keywords"))

dfCountry6.show(5)

+--------------+--------------------+--------------------+----+--------------------+------------+--------+---------+-------------+-----------+
|    project_id|                name|                desc|goal|            keywords|final_status|country2|currency2|days_campaign|hours_prepa|
+--------------+--------------------+--------------------+----+--------------------+------------+--------+---------+-------------+-----------+
|kkst1451568084| drawing for dollars|i like drawing pi...|  20| drawing-for-dollars|           1|      US|      USD|            9|      0.615|
|kkst1474482071|sponsor dereck bl...|i  dereck blackbu...| 300|sponsor-dereck-bl...|           0|      US|      USD|           17|      4.268|
| kkst183622197|       mr. squiggles|so i saw darkpony...|  30|        mr-squiggles|           0|      US|      USD|           10|      0.218|
| kkst597742710|help me write my ...|do your part to h...| 500|help-me-write-my-...|           1|      US|      USD|           30|      0.815|
|kkst1913131122|support casting m...|i m nearing compl...|2000|support-casting-m...|           0|      US|      USD|           30|      0.729|
+--------------+--------------------+--------------------+----+--------------------+------------+--------+---------+-------------+-----------+
only showing top 5 rows

dfCountry6: org.apache.spark.sql.DataFrame = [project_id: string, name: string ... 8 more fields]

Ajoutons alors une colonne ***text***, qui contient la concaténation des Strings des colonnes ***name***, ***desc***, et ***keywords***. ATTENTION à bien mettre des espaces entre les chaînes de caractères concaténées, car on fera par la suite un split en se servant des espaces entre les mots. Pour cela, on se sert de la fonction :
```scala
def concat_ws(sep: String, exprs: Column*): Column

Concatenates multiple input string columns together into a single string column, using the given separator.
```

In [30]:
dfCountry6.withColumn("text", concat_ws(" ", $"name", $"desc", $"keywords")).select($"text").head()

res25: org.apache.spark.sql.Row = [drawing for dollars i like drawing pictures. and then i color them too. so i thought i would suggest something for me to draw and then if someone wants... drawing-for-dollars]

In [31]:
val dfCountry7: DataFrame = dfCountry6
 .withColumn("text", concat_ws(" ", $"name", $"desc", $"keywords"))

dfCountry7.show(3)

+--------------+--------------------+--------------------+----+--------------------+------------+--------+---------+-------------+-----------+--------------------+
|    project_id|                name|                desc|goal|            keywords|final_status|country2|currency2|days_campaign|hours_prepa|                text|
+--------------+--------------------+--------------------+----+--------------------+------------+--------+---------+-------------+-----------+--------------------+
|kkst1451568084| drawing for dollars|i like drawing pi...|  20| drawing-for-dollars|           1|      US|      USD|            9|      0.615|drawing for dolla...|
|kkst1474482071|sponsor dereck bl...|i  dereck blackbu...| 300|sponsor-dereck-bl...|           0|      US|      USD|           17|      4.268|sponsor dereck bl...|
| kkst183622197|       mr. squiggles|so i saw darkpony...|  30|        mr-squiggles|           0|      US|      USD|           10|      0.218|mr. squiggles so ...|
+--------------+--------------------+--------------------+----+--------------------+------------+--------+---------+-------------+-----------+--------------------+
only showing top 3 rows

dfCountry7: org.apache.spark.sql.DataFrame = [project_id: string, name: string ... 9 more fields]

## Valeurs nulles

Il y plusieurs façons de traiter les valeurs nulles pour les rendre exploitables par un modèle. Nous avons déjà vu que parfois les valeurs nulles peuvent être comblées en utilisant les valeurs d’une autre colonne (parce que le dataset a été mal préparé). On peut aussi décider de supprimer les exemples d’entraînement contenant des valeurs nulles, mais on risque de perdre beaucoup de données. On peut également les remplacer par la valeur moyenne ou médiane de la colonne. On peut enfin leur attribuer une valeur particulière, distincte des autres valeurs de la colonne.

Remplaçons les valeurs nulles des colonnes ***days_campaign***, ***hours_prepa***, et ***goal*** par la valeur -1 et par "*unknown*" pour les colonnes ***country2*** et ***currency2***.

In [39]:
dfCountry7.filter("days_campaign is null").count

res34: Long = 70

In [40]:
dfCountry7.filter("days_campaign is null").show(70)

+--------------+--------------------+--------------------+----+--------+------------+--------+---------+-------------+-----------+--------------------+
|    project_id|                name|                desc|goal|keywords|final_status|country2|currency2|days_campaign|hours_prepa|                text|
+--------------+--------------------+--------------------+----+--------+------------+--------+---------+-------------+-----------+--------------------+
|kkst1096095848|"help """""""""""...|"""""""""""""""""...|null|   750.0|           0|      US|     null|         null|        0.0|"help """""""""""...|
|kkst2016848438|"""""""""""""""""...| receive the albu...|null|   100.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst406922818|"""""""""""""""""...|   become a part ...|null|  1200.0|           1|      US|     null|         null|        0.0|"""""""""""""""""...|
|   kkst5141767|" """""""""""""""...|"""""""""""""""""...|null| 10000.0|           0|      US|     null|         null|        0.0|" """""""""""""""...|
|kkst2096858569|"""""""""""""""""...|         we create!"|null|  2000.0|           1|      US|     null|         null|        0.0|"""""""""""""""""...|
|kkst1230564018|"""""""""""""""""...| marketing & dist...|null|  6500.0|           1|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst168413925|"""""""""""""""""...|"""""""""""""""""...|null|  1900.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst801172866|"""""""""""""""""...| web series as tv...|null|   999.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
|kkst1301485413|"""""""""""""""""...| a collection of ...|null|  8000.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst451839945|"""""""""""""""""...| twitter and othe...|null| 10000.0|           0|    True|     null|         null|        0.0|"""""""""""""""""...|
|kkst1533118232|"""""""""""""""""...| web series as tv...|null|   999.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst685132285|"solo rendition o...|"""""""""""""""""...|null| 15000.0|           0|      US|     null|         null|        0.0|"solo rendition o...|
| kkst358982216|"the zuma dogg sh...| brain-seizing ar...|null| 10000.0|           0|      US|     null|         null|        0.0|"the zuma dogg sh...|
|kkst1503028998|"co-produce multi...| babalon!""""""""...|null|   900.0|           0|      US|     null|         null|        0.0|"co-produce multi...|
|kkst1586096938|"""""""""""""""""...| river of life"""...|null| 50000.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst740380784|"""""""""""""""""...| mind-bending hor...|null| 40000.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst507710890|"""""""""""""""""...| a country song w...|null|  3000.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst112316916|"friends of """""...|"""""""""""""""""...|null|  2000.0|           1|      US|     null|         null|        0.0|"friends of """""...|
|kkst1573959064|"""""""""""""""""...|           a memoir"|null|  8800.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst691804304|"rebirth's upcomi...| arise"""""""""""...|null| 25000.0|           1|      US|     null|         null|        0.0|"rebirth's upcomi...|
|kkst1490105362|"""""""""""""""""...| off the chain gang"|null|  2000.0|           1|      US|     null|         null|        0.0|"""""""""""""""""...|
|kkst1981083897|"""""""""""""""""...| a familiar love ...|null|  1500.0|           1|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst700522131|"the bloviator: "...| drugs and warren...|null|  5000.0|           0|      US|     null|         null|        0.0|"the bloviator: "...|
|kkst1194278105|"the """"""""""""...|    children's book"|null|  5000.0|           1|      US|     null|         null|        0.0|"the """"""""""""...|
| kkst295377118|"""""""""""""""""...| my love"""""""""...|null| 10000.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst530098841|"the marlin and t...|          the book."|null| 39000.0|           1|      US|     null|         null|        0.0|"the marlin and t...|
| kkst729280473|"book: """"""""""...|      autobiography"|null|  5500.0|           0|      US|     null|         null|        0.0|"book: """"""""""...|
|kkst1539870934|"create summer ca...|                 ky"|null|  1200.0|           1|      US|     null|         null|        0.0|"create summer ca...|
| kkst530619633|"""""""""""""""""...|      not a phase.."|null|  3400.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst877166482|"the hand can!!!!...| last american he...|null| 39000.0|           0|      US|     null|         null|        0.0|"the hand can!!!!...|
| kkst933640976|"""""""""""""""""...| i'm not sorry"""...|null|   200.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
|kkst1562311130|"""""""""""""""""...| a one man show a...|null|  5000.0|           1|      US|     null|         null|        0.0|"""""""""""""""""...|
|kkst2088977340|"""""""""""""""""...| volume one""""""...|null|  1500.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst700902333|"""""""""""""""""...| music video by s...|null|  2500.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst594078508|"""""""""""""""""...| martyrs and madm...|null|   300.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
|kkst1141923354|"""""""""""""""""...| but i have swall...|null|  4000.0|           1|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst761381633|"""""""""""""""""...|  apparel and cards"|null|  4000.0|           1|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst701794135|"children's book ...| i'm o.k.""""""""...|null|  3500.0|           1|      US|     null|         null|        0.0|"children's book ...|
| kkst325597395|"""""""""""""""""...| a photographic p...|null|  2500.0|           1|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst765519578|"my debut novel, ...| cold in my bed""...|null| 11500.0|           1|      US|     null|         null|        0.0|"my debut novel, ...|
|kkst1725983368|"""""""""""""""""...| to publish my bo...|null|  5000.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
|kkst1948088233|"male dane: the n...| die pretty""""""...|null| 10000.0|           1|      US|     null|         null|        0.0|"male dane: the n...|
| kkst331165144|"""""""""""""""""...|       a new novel."|null| 10000.0|           1|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst663868583|"bringing you the...| what motivates y...|null| 10000.0|           0|      US|     null|         null|        0.0|"bringing you the...|
| kkst555248931|"""""""""""""""""...| though i walk"""...|null|  5000.0|           1|      US|     null|         null|        0.0|"""""""""""""""""...|
|kkst1677718959|"chris bartick's ...|          ny harbor"|null|  1500.0|           1|      US|     null|         null|        0.0|"chris bartick's ...|
|kkst1587883844|"""""""""""""""""...| but he doesn't k...|null| 16000.0|           0|      CA|     null|         null|        0.0|"""""""""""""""""...|
|kkst1496816013|"""""""""""""""""...| a debut single b...|null|   300.0|           0|      GB|     null|         null|        0.0|"""""""""""""""""...|
| kkst752787230|"put community ra...|           kansas!!"|null| 25000.0|           0|      US|     null|         null|        0.0|"put community ra...|
|kkst1641512346|"kyle thornton & ...|"""""""""""""""""...|null|  5000.0|           0|      US|     null|         null|        0.0|"kyle thornton & ...|
|kkst1985544974|"""""""""""""""""...| bad decisions"""...|null|  3800.0|           1|      US|     null|         null|        0.0|"""""""""""""""""...|
|kkst1734452944|"""""""""""""""""...|                 al"|null| 20000.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
|kkst1609101603|"""""""""""""""""...| an album by chad...|null|  1200.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
|kkst1842612211|"""""""""""""""""...| ann n anny""""""...|null|  3000.0|           0|      NL|     null|         null|        0.0|"""""""""""""""""...|
| kkst804012277|"""""""""""""""""...| horror/comedy fe...|null| 30000.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
|kkst1900956251|"ya kilt it brewi...| drink em dry""""...|null| 50000.0|           0|      US|     null|         null|        0.0|"ya kilt it brewi...|
|kkst1022204726|"""""""""""""""""...| with comic relief."|null|  5500.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst207087321|"""""""""""""""""...| (in memory of ke...|null|  6000.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst286648046|"nofuglies.com - ...| let's meet!"""""...|null|  5400.0|           0|      US|     null|         null|        0.0|"nofuglies.com - ...|
|kkst1694755186|"""""""""""""""""...| syria"""""""""""...|null|  1250.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst587527394|"1/4 mile raceway...| you have to beat...|null| 20000.0|           0|      CA|     null|         null|        0.0|"1/4 mile raceway...|
| kkst978644375|"""""""""""""""""...|      two and three"|null| 15000.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
| kkst422672838|"""""""""""""""""...|    ice cream truck"|null|  5200.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
|kkst1239296454|"""""""""""""""""...|942""""""""""""""...|null| 78000.0|           1|      US|     null|         null|        0.0|"""""""""""""""""...|
|kkst1665855651|"flitetrac- """""...| we provide solut...|null|100000.0|           0|      US|     null|         null|        0.0|"flitetrac- """""...|
|kkst1698208427|"""""""""""""""""...| iran and turkey/...|null|  5000.0|           1|      GB|     null|         null|        0.0|"""""""""""""""""...|
|kkst1470764701|"""""""""""""""""...|-document netherl...|null| 30000.0|           1|      NL|     null|         null|        0.0|"""""""""""""""""...|
|kkst1068185873|"""""""""""""""""...| we are family"""...|null|100000.0|           0|      US|     null|         null|        0.0|"""""""""""""""""...|
|kkst1019513661|"tres marie """""...| step out bold"""...|null|100000.0|           1|      US|     null|         null|        0.0|"tres marie """""...|
|kkst1802834753|"""""""""""""""""...| i'm listening"""...|null|   350.0|           0|      GB|     null|         null|        0.0|"""""""""""""""""...|
+--------------+--------------------+--------------------+----+--------+------------+--------+---------+-------------+-----------+--------------------+

In [42]:
dfCountry7.filter("hours_prepa is null").count

res37: Long = 0

In [43]:
dfCountry7.filter("goal is null").count

res38: Long = 70

In [44]:
dfCountry7.filter("country2 is null").count

res39: Long = 0

In [45]:
dfCountry7.filter("currency2 is null").count

res40: Long = 70

In [96]:
dfCountry7.withColumn("currency2", when($"currency2".isNull, "unknown").otherwise("currency2")).filter($"currency2" === "unknown").show()

+--------------+--------------------+--------------------+----+--------+------------+--------+---------+-------------+-----------+--------------------+
|    project_id|                name|                desc|goal|keywords|final_status|country2|currency2|days_campaign|hours_prepa|                text|
+--------------+--------------------+--------------------+----+--------+------------+--------+---------+-------------+-----------+--------------------+
|kkst1096095848|"help """""""""""...|"""""""""""""""""...|null|   750.0|           0|      US|  unknown|         null|        0.0|"help """""""""""...|
|kkst2016848438|"""""""""""""""""...| receive the albu...|null|   100.0|           0|      US|  unknown|         null|        0.0|"""""""""""""""""...|
| kkst406922818|"""""""""""""""""...|   become a part ...|null|  1200.0|           1|      US|  unknown|         null|        0.0|"""""""""""""""""...|
|   kkst5141767|" """""""""""""""...|"""""""""""""""""...|null| 10000.0|           0|      US|  unknown|         null|        0.0|" """""""""""""""...|
|kkst2096858569|"""""""""""""""""...|         we create!"|null|  2000.0|           1|      US|  unknown|         null|        0.0|"""""""""""""""""...|
|kkst1230564018|"""""""""""""""""...| marketing & dist...|null|  6500.0|           1|      US|  unknown|         null|        0.0|"""""""""""""""""...|
| kkst168413925|"""""""""""""""""...|"""""""""""""""""...|null|  1900.0|           0|      US|  unknown|         null|        0.0|"""""""""""""""""...|
| kkst801172866|"""""""""""""""""...| web series as tv...|null|   999.0|           0|      US|  unknown|         null|        0.0|"""""""""""""""""...|
|kkst1301485413|"""""""""""""""""...| a collection of ...|null|  8000.0|           0|      US|  unknown|         null|        0.0|"""""""""""""""""...|
| kkst451839945|"""""""""""""""""...| twitter and othe...|null| 10000.0|           0|    True|  unknown|         null|        0.0|"""""""""""""""""...|
|kkst1533118232|"""""""""""""""""...| web series as tv...|null|   999.0|           0|      US|  unknown|         null|        0.0|"""""""""""""""""...|
| kkst685132285|"solo rendition o...|"""""""""""""""""...|null| 15000.0|           0|      US|  unknown|         null|        0.0|"solo rendition o...|
| kkst358982216|"the zuma dogg sh...| brain-seizing ar...|null| 10000.0|           0|      US|  unknown|         null|        0.0|"the zuma dogg sh...|
|kkst1503028998|"co-produce multi...| babalon!""""""""...|null|   900.0|           0|      US|  unknown|         null|        0.0|"co-produce multi...|
|kkst1586096938|"""""""""""""""""...| river of life"""...|null| 50000.0|           0|      US|  unknown|         null|        0.0|"""""""""""""""""...|
| kkst740380784|"""""""""""""""""...| mind-bending hor...|null| 40000.0|           0|      US|  unknown|         null|        0.0|"""""""""""""""""...|
| kkst507710890|"""""""""""""""""...| a country song w...|null|  3000.0|           0|      US|  unknown|         null|        0.0|"""""""""""""""""...|
| kkst112316916|"friends of """""...|"""""""""""""""""...|null|  2000.0|           1|      US|  unknown|         null|        0.0|"friends of """""...|
|kkst1573959064|"""""""""""""""""...|           a memoir"|null|  8800.0|           0|      US|  unknown|         null|        0.0|"""""""""""""""""...|
| kkst691804304|"rebirth's upcomi...| arise"""""""""""...|null| 25000.0|           1|      US|  unknown|         null|        0.0|"rebirth's upcomi...|
+--------------+--------------------+--------------------+----+--------+------------+--------+---------+-------------+-----------+--------------------+
only showing top 20 rows

In [98]:
val dfCountry8: DataFrame = dfCountry7 
 .withColumn("days_campaign", when($"days_campaign".isNull, -1).otherwise("days_campaign"))
 .withColumn("hours_prepa", when($"hours_prepa".isNull, -1).otherwise("hours_prepa"))
 .withColumn("goal", when($"goal".isNull, -1).otherwise("goal"))
 .withColumn("country2", when($"country2".isNull, "unknown").otherwise("country2"))
 .withColumn("currency2", when($"currency2".isNull, "unknown").otherwise("currency2"))


dfCountry8.filter($"currency2".isNull).show()

+----------+----+----+----+--------+------------+--------+---------+-------------+-----------+----+
|project_id|name|desc|goal|keywords|final_status|country2|currency2|days_campaign|hours_prepa|text|
+----------+----+----+----+--------+------------+--------+---------+-------------+-----------+----+
+----------+----+----+----+--------+------------+--------+---------+-------------+-----------+----+

dfCountry8: org.apache.spark.sql.DataFrame = [project_id: string, name: string ... 9 more fields]

## Sauvegarder un DataFrame
Sauvegardons le DataFrame final au format parquet sur notre machine :
```scala
monDataFrameFinal.write.parquet("/path/ou/les/donnees/seront/sauvegardees")
```
Attention ! Lorsqu’on sauvegarde un output en Spark, le résultat est toujours un répertoire contenant un ou plusieurs fichiers. Cela est dû à la nature distribuée de Spark. Toutefois, pour écrire sur un seul et unique fichier, il est possible d'utiliser la commande suivante :
```scala
monDataFrameFinal.coalesce(1).write.parquet("/path/ou/les/donnees/seront/sauvegardees")
```
Cette commande fonctionne aussi pour d'autres formats comme *.csv* : `write.parquet`.

In [103]:
val monDataFrameFinal: DataFrame = dfCountry8

monDataFrameFinal.write.parquet("/home/p5hngk/Downloads/GitHub/INF_729---Introduction_au_framework_Hadoop/cours-spark-telecom-master/monDataFrameFinal")

monDataFrameFinal: org.apache.spark.sql.DataFrame = [project_id: string, name: string ... 9 more fields]

https://spark.apache.org/docs/2.2.0/sql-programming-guide.html

https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.sql.functions$